In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import keras

In [2]:
df=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [5]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,15304.000000,15304.000000,15304.000000,15304.000000,15304.000000,15304.000000,15304.000000
mean,7651.500000,41.417708,0.049726,0.023327,89.039853,28.112721,0.041296
std,4418.028595,21.444673,0.217384,0.150946,25.476102,6.722315,0.198981
min,0.000000,0.080000,0.000000,0.000000,55.220000,10.300000,0.000000
25%,3825.750000,26.000000,0.000000,0.000000,74.900000,23.500000,0.000000
50%,7651.500000,43.000000,0.000000,0.000000,85.120000,27.600000,0.000000
75%,11477.250000,57.000000,0.000000,0.000000,96.980000,32.000000,0.000000
max,15303.000000,82.000000,1.000000,1.000000,267.600000,80.100000,1.000000

In [7]:
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [14]:
for col in df.columns:
    print(df[col].unique())

[    0     1     2 ... 15301 15302 15303]
['Male' 'Female' 'Other']
[2.80e+01 3.30e+01 4.20e+01 5.60e+01 2.40e+01 3.40e+01 5.30e+01 7.80e+01
 4.50e+01 6.20e+01 5.10e+01 4.00e+00 2.30e+01 3.60e+01 5.90e+01 4.00e+01
 4.70e+01 3.10e+01 1.72e+00 7.10e+01 5.00e+01 5.50e+01 3.80e+01 5.70e+01
 1.20e+01 6.10e+01 4.80e+01 1.70e+01 5.80e+01 2.60e+01 8.00e+00 2.00e+00
 3.90e+01 5.20e+01 1.90e+01 5.40e+01 7.20e+01 1.50e+01 1.10e+01 7.60e+01
 8.20e+01 1.80e+01 7.40e+01 4.30e+01 2.10e+01 6.50e+01 9.00e+00 8.00e+01
 6.80e+01 4.40e+01 3.20e+01 7.00e+00 2.50e+01 7.90e+01 6.30e+01 5.00e+00
 8.10e+01 1.00e+01 3.00e+00 6.00e+01 4.90e+01 3.20e-01 6.00e+00 7.00e+01
 7.30e+01 2.00e+01 4.60e+01 3.70e+01 6.70e+01 2.90e+01 6.90e+01 1.32e+00
 3.00e+01 1.40e+01 7.50e+01 2.20e+01 2.70e+01 7.70e+01 3.50e+01 6.60e+01
 1.80e+00 1.88e+00 8.80e-01 1.30e+01 1.48e+00 4.10e+01 6.40e+01 1.30e+00
 1.60e-01 8.00e-01 1.60e+01 1.64e+00 1.40e+00 6.40e-01 4.00e-01 1.24e+00
 1.08e+00 7.20e-01 5.60e-01 1.00e+00 1.56e+00 1.16e+00 4.80e-01 8.00e-02
 6.80e-01 2.40e-01]
[0 1]
[0 1]
['Yes' 'No']
['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
['Urban' 'Rural']
[ 79.53  78.44 103.   ...  58.46  69.78  77.65]
[31.1  23.9  40.3  28.8  22.2  25.3  24.8  34.1  18.4  20.1  23.5  14.1
 37.3  29.6  28.1  27.7  28.4  32.5  28.2  20.8  33.5  36.7  26.9  27.
 28.7  27.6  18.   26.4  41.   33.2  23.3  35.8  20.7  18.3  29.7  18.9
 25.8  25.9  35.6  17.1  32.7  27.5  29.   17.6  29.9  27.3  19.8  27.8
 29.2  24.3  23.   24.5  30.1  32.9  32.3  21.1  24.6  26.8  17.4  30.
 23.1  34.8  35.7  31.7  39.1  41.3  31.4  25.1  22.6  16.4  31.3  29.4
 31.9  34.9  26.1  35.   26.2  21.9  22.5  21.5  38.   32.6  26.   23.6
 40.5  15.9  25.7  16.1  37.   25.6  24.7  16.2  30.7  23.4  20.2  21.3
 40.7  38.7  35.9  24.4  22.   48.2  41.8  24.   30.9  27.9  27.4  28.
 33.1  32.8  20.3  26.5  33.   31.6  15.8  39.5  26.7  41.5  24.1  21.6
 34.6  26.3  22.8  22.1  18.2  34.7  22.9  37.8  23.8  39.   20.5  33.6
 18.7  34.2  21.8  31.2  29.3  25.5  24.2  16.9  29.8  36.2  17.7  36.6
 20.   22.4  31.   14.2  33.4  20.4  41.7  25.2  40.1  30.3  33.8  17.2
 22.7  21.2  35.5  27.1  28.6  25.   30.5  28.5  26.6  29.5  38.5  39.8
 32.1  31.5  39.6  28.3  21.7  35.2  24.9  28.9  36.9  21.   22.3  20.6
 32.4  30.4  40.   37.1  34.4  42.2  38.9  21.4  15.   19.9  15.7  16.8
 32.2  35.4  38.4  43.8  37.4  40.2  19.5  36.4  33.7  32.   15.1  45.2
 30.2  19.4  18.1  36.   33.9  43.7  41.9  39.7  40.8  34.5  31.8  41.2
 34.3  48.8  44.4  44.   18.6  38.8  37.7  23.2  19.7  15.4  29.1  23.7
 19.1  15.5  17.3  15.2  17.   39.4  50.1  38.1  14.6  33.3  43.1  37.9
 36.3  46.3  18.8  37.2  20.9  38.6  47.1  45.5  45.3  25.4  37.6  44.8
 37.5  36.1  34.   16.3  15.3  46.9  30.6  61.8  40.9  39.2  54.7  38.2
 57.2  47.5  43.6  16.6  41.6  30.8  18.5  19.6  41.1  16.   40.4  27.2
 53.9  17.9  35.1  43.3  57.1  42.6  36.8  49.5  53.4  57.7  42.3  50.9
 19.2  19.3  16.5  19.   17.5  54.3  38.3  49.3  41.4  43.9  49.9  44.7
 43.4  14.4  45.   10.3  53.8  45.4  51.9  46.4  42.4  44.5  16.7  42.
 12.8  35.3  52.8  45.7  14.5  50.2  52.3  63.6  15.6  48.1  17.8  60.9
 39.3  43.2  46.   50.6  42.8  14.8  42.1  52.7  48.3  54.8  43.   54.
 57.9  50.3  46.1  36.5  47.9  48.6  62.6  13.8  49.8  80.1  44.6  47.2
 44.9  46.6  13.3  47.6  55.7  55.6  64.9  55.4  54.2  65.9  42.7  47.8
 48.9  43.5  12.3  51.   55.1  14.3  45.9  47.3  57.3  13.5  14.   48.4
 47.   55.2  39.9  50.4  54.6  46.2  45.1  55.   46.5  44.3  13.7  13.4
 13.1  44.2  20.22 42.9  51.8  55.9  46.7  56.6  12.2  13.2  13.   14.9
 51.5  13.9  49.4  60.7  54.9  45.6  42.5  54.4  52.9  65.36 44.1 ]
['never smoked' 'formerly smoked' 'Unknown' 'smokes']
[0 1]

In [27]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df1=df.copy()
df1['gender']=le.fit_transform(df['gender'])
df1['ever_married']=le.fit_transform(df['ever_married'])
df1['work_type']=le.fit_transform(df['work_type'])
df1['Residence_type']=le.fit_transform(df['Residence_type'])
df1['smoking_status']=le.fit_transform(df['smoking_status'])

test1=test.copy()
test1['gender']=le.fit_transform(test['gender'])
test1['ever_married']=le.fit_transform(test['ever_married'])
test1['work_type']=le.fit_transform(test['work_type'])
test1['Residence_type']=le.fit_transform(test['Residence_type'])
test1['smoking_status']=le.fit_transform(test['smoking_status'])

df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,28.0,0,0,1,2,1,79.53,31.1,2,0
1,1,1,33.0,0,0,1,2,0,78.44,23.9,1,0
2,2,0,42.0,0,0,1,2,0,103.00,40.3,0,0
3,3,1,56.0,0,0,1,2,1,64.87,28.8,2,0
4,4,0,24.0,0,0,0,2,0,73.36,28.8,2,0

In [28]:
df1.dtypes

id                     int64
gender                 int32
age                  float64
hypertension           int64
heart_disease          int64
ever_married           int32
work_type              int32
Residence_type         int32
avg_glucose_level    float64
bmi                  float64
smoking_status         int32
stroke                 int64
dtype: object

In [29]:
X=df1.drop(['stroke'],axis=1)
y=df1['stroke']

In [30]:
X

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,1,28.0,0,0,1,2,1,79.53,31.1,2
1,1,1,33.0,0,0,1,2,0,78.44,23.9,1
2,2,0,42.0,0,0,1,2,0,103.00,40.3,0
3,3,1,56.0,0,0,1,2,1,64.87,28.8,2
4,4,0,24.0,0,0,0,2,0,73.36,28.8,2
...,...,...,...,...,...,...,...,...,...,...,...
15299,15299,0,22.0,0,0,0,0,1,72.63,19.5,2
15300,15300,0,46.0,1,0,1,2,1,101.19,32.1,2
15301,15301,0,75.0,0,0,1,3,1,87.69,26.2,2
15302,15302,1,46.0,0,0,1,2,0,101.13,22.5,0
15303,15303,0,14.0,0,0,0,2,0,85.12,24.7,2

In [31]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
X1=scale.fit_transform(X)
test2=scale.fit_transform(test1)

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR 
from sklearn.model_selection import cross_val_score

In [35]:
a=[LinearRegression(),LogisticRegression(),RandomForestRegressor(),AdaBoostRegressor(),ExtraTreesRegressor(),DecisionTreeRegressor(),SVR()] #runnning other regressors takes up too much computational power ig
avglist=[]
templist=[]
avg=0
for i in range(len(a)):
    temp=cross_val_score(a[i],X1,y)
    templist.append(temp)
    for i in temp:
        avg+=i
    avg=avg/5
    avglist.append(avg)
    avg=0

In [36]:
res = dict(zip(a, avglist))
res

{LinearRegression(): 0.0965881545436899,
 LogisticRegression(): 0.9579849594199,
 RandomForestRegressor(): 0.0608007869434682,
 AdaBoostRegressor(): -0.027110466014573408,
 ExtraTreesRegressor(): -0.004529985501532718,
 DecisionTreeRegressor(): -1.1798580060932158,
 SVR(): -0.03987556805824592}

In [49]:
model=LogisticRegression()
model.fit(X1,y)

LogisticRegression()

In [53]:
Y_proba = model.predict_proba(test2)
Y_proba = pd.Series(Y_proba[:, 1])
submission = pd.DataFrame(data={'id': test.id, 'stroke': Y_proba})
submission.head()

      id    stroke
0  15304  0.036262
1  15305  0.145882
2  15306  0.000218
3  15307  0.057579
4  15308  0.006432

In [55]:
submission.to_csv('submission.csv', index=False)